/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap"); */

::-webkit-scrollbar {
    display: none;
  }
  
@font-face {
  font-family: precious;
  src: url(files/La\ Gagliane.otf);
  /* font-weight: 500; */
}

/* @media (min-width: 2000px) {
    *{
      font-size: 10px;
    }
}   */

  *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    /* font-size: large; */
    font-weight: 500;
    /* font-size: 17px; */
    font-size: 2.18vh ;
    margin: 0;
    padding: 0;
    position: relative;
    /* height: 700vh; */
}

.myname{
  font-family: precious;
  /* letter-spacing: 0.5px; */
  /* padding: 0.5882352941176471rem 0; */
  padding-top: 1.2705882352941178rem;
}

.heading{
  font-family: precious;
}

/* html{ 
  position:fixed; 
  font-size: 17px;
  top:0; 
  bottom:0; 
  left:0; 
  right:0; 
}  */


.par_wrap{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 17.647058823529413rem;
    /* background-color: #000; */
    
}

/* .par_intro{
    height: 100vh;
    background-color: rgb(2, 12, 123);
    display: flex;
    justify-content: center;
    align-itrems: center;
} */
/* .par_outro{
    color: #fff;
    height: 100vh;
    width: 100%;
    background-color: rgb(92, 0, 60);
    display: block;
    justify-content: center;
    align-itrems: center;
    position: absolute;
    
} */

.par_grp{
    position: relative;
    /* height: 100vh; */
    /* height: 27x; */
    height: 147.05882352941177rem;
    transform-style: preserve-3d;
    /* background-color: #000; */
    
}

.par_grp_2{
    position: relative;
    /* height: 100vh; */
    /* height: 2500px; */
    transform-style: preserve-3d;
    
}

.par_layer{
    position: absolute;
    inset: 0;
    display: flex;
    /* justify-content: center; */
    /* align-itrems: center; */
}

.base_layer{
    transform: translateZ(-17.647058823529413rem)scale(2);
    /* color: #000; */
}

.mid_layer{
    transform: translateZ(-8.823529411764707rem)scale(1.5);
    
}

.top_layer{
    transform: translateZ(0);
    display: block;
}
.top_layer_2{
    transform: translateZ(14.705882352941176rem)scale(0.185);
    /* display: block; */
    
}

/* #intro{
    z-index: 0;
} */
/* #grp1{z-index: -1;} */

#grp1 > .base_layer{
    /* background-color: black; */
    background: url(files/p1.png);
    background-size: 100%;
    /* background-size: 1000px; */
}
#grp1 > .mid_layer{
    /* background-color: black; */
    /* background-image: url(files/mid4.png); */
    background-image: url(files/drawing9.svg);
    background-size: 100%;
    /* background-size: 3000px; */
}

/* #grp2{z-index: -2;} */
 
#grp2 > .mid_layer{
    /* background-color: rgb(101, 56, 0); */
    background-image: url(files/bg3.jpg);
    background-size: 140%;
    /* background-size: 100%; */
    height: 100vh;
}
#grp2 > .top_layer_2{
    /* background-color: rgb(101, 56, 0); */
    background-image: url(files/sat2.png);
    background-size: 100%;
    position: relative;
    left: 2.5rem;
    /* background-size: 100%; */
    /* height: 100vh; */
    /* object-fit: cover; */
    /* offset-position: 500px; */
    /* position: relative;
    bottom:  1000px; */
    /* width: 200px; */
    /* z-index: 10; */
    /* width: fit-content; */
    height: 100vh;
    /* width: max-content; */
    /* width: fit-content; */
}

#grp3 > .mid_layer{
    /* background-color: rgb(101, 56, 0); */
    /* background-image: url(files/bg3.jpg); */
    /* background-color: #18272F; */
    background-image: url(files/bgwm2.jpg);
    /* background-size: cover; */
    background-size: 140%;
    background-position: center;
    color: whitesmoke;
}
/* #grp3 > .top_layer{ */
    /* background-color: rgb(101, 56, 0); */
    /* background-image: url(files/bg3.jpg); */
    /* background-color: #18272F;
    height: 100vh; */
    /* color: whitesmoke; */
/* } */




.page1,.page2,.page3,.page4,.page5{
    height: 100vh;
    /* scroll-snap-align: center;
    scroll-snap-stop: normal; */
    
}

/* .parallax-layer.layer1{
    width: 100%;
    height: 100rem; 
    background-image: url("p1.png");
} */


.h-20{
    height: 32.35294117647059rem;
    margin-top: 1.4705882352941178rem;
}

.h-sas{
  height: 26.470588235294116rem;
}

.col-md-1-5 { width: 12,5%; } 
.col-md-2-5 { width: 20,83333%; } 
.col-md-3-5 { width: 29,16667%; } 
.col-md-4-5 { width: 37,5%; } 
.col-md-5-5 { width: 45,83333%; } 
.col-md-6-5 { width: 54,16667%; } 
.col-md-7-5 { width: 62,5%; } 
.col-md-8-5 { width: 70,83333%; } 
.col-md-9-5 { width: 79,16667%; } 
.col-md-10-5 { width: 87,5%; } 
.col-md-11-5 { width: 95,8333%; } 



#btn-back-to-top {
    position: fixed;
    bottom: 1.1764705882352942rem;
    right: 1.1764705882352942rem;
    /* display: none; */
    border-radius: 1.625rem;
  }



.ul-sm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 1.5rem;
    list-style-type: none;
    font-size: 2rem;
  }

.ul-details{
    align-items: center;
    justify-content: center;
    list-style-type: none;
    
}

  .fab {
    font-size: 2.3529411764705883rem;
    color: white;
    padding: 0.8823529411764706rem 0.5882352941176471rem 0 0.5882352941176471rem;
  }

  .fa-twitter,
.fa-snapchat,
.fa-linkedin,
.fa-instagram,
.fa-github,
.fa-telegram {
  transition: 0.4s;
  cursor: pointer;
}

/* social media icons hover color */
/* .fa-facebook:hover,
.fa-facebook:focus {
  color: #1877f2;
  transform: scale(1.1);
} */

.fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
  transform: scale(1.1);
}

.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #0A66C2;
  transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.fa-telegram:hover,
.fa-telegram:focus {
  color: #0088cc;
  transform: scale(1.1);
}

.fa-snapchat:hover,
.fa-snapchat:focus {
  color: #FFFC00;
  transform: scale(1.1);
}


.form-horizontal {
    /*float: left;*/
    max-width: 23.529411764705884rem;
    /* font-family: 'Lato'; */
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 23.529411764705884rem;
    background-color: #000;
    color: #fff;
    letter-spacing: 0.058823529411764705rem;
  }

  .form-control:focus, textarea:focus{
    background-color: transparent;
    color: white;
  }
  
  .send-button {
    margin-top: 0.8823529411764706rem;
    height: 2rem;
    width: 23.529411764705884rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 23.529411764705884rem;
    height: 2rem;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 0.5882352941176471rem;
    /* font: 700 12px 'Lato', sans-serif; */
    letter-spacing: 0.29411764705882354rem;
    text-align: center;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -2.235294117647059rem, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 23.529411764705884rem;
  }
  
  /* Location, Phone, remail Section */
  .contact-list {
    list-style-type: none;
    margin-left: -1.7647058823529411rem;
    padding-right: 1.1764705882352942rem;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 1.0588235294117647rem 'Lato', sans-serif;
    letter-spacing: 1.0.11176470588235293rem;
    color: #bbb;
  }
  
  .place {
    margin-left: 3.6470588235294117rem;
  }
  
  .phone {
    margin-left: 3.2941176470588234rem;
  }
  
  .gmail {
    margin-left: 3.1176470588235294rem;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }





.vl{
    border-left: 0.17647058823529413rem solid black;
    padding: 1.4705882352941178rem 1.1764705882352942rem;
    margin-left: 5.882352941176471rem;
    margin-top: 1.1764705882352942rem;
    /* transform: translateZ(-10); */
}

.evl{
    border-left: 0.17647058823529413rem solid black;
    /* padding: 25px 20px; */
    /* transform: translateZ(-10); */
}

.evl2{
  border-left: 0.5882352941176471rem solid whitesmoke;
  /* padding: 25px 20px; */
  /* transform: translateZ(-10); */
}


.edu1{
    display: inline-block;
}

.progress {
    background: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 1.625rem;
    align-items: center;
    position: relative;
    /* padding: 0 5px; */
    display: flex;
    height: 1.7647058823529411rem;
    width: 7.0588235294117645rem;
    color: #fff;
    margin: 0.5882352941176471rem 0.5882352941176471rem;
  }
  
 .progress-value {
    /* animation-delay: 0.5s; */
    /* animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48); */
    /* box-shadow: 0 10px 40px -10px rgb(37, 37, 37); */
    /* animation-fill-mode: backwards; */
    border-radius: 5.882352941176471rem;
    background: rgb(61, 60, 60);
    height: 1.7647058823529411rem;
    width: 0;
    text-align: center;
    padding-top: 0.2647058823529412rem;
    font-size: 0.7647058823529411rem;
  }

  /* @-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
} */
  
.java{
    animation: java 3s normal forwards;
}  

  @keyframes java {
    0% { width: 0; }
    100% { width: 80%; }
  }
.python{
    animation: python 3s normal forwards;
}  

  @keyframes python {
    0% { width: 0; }
    100% { width: 65%; }
  }
.C{
    animation: C 3s normal forwards;
}  

  @keyframes C {
    0% { width: 0; }
    100% { width: 60%; }
  }
.cpp{
    animation: cpp 3s normal forwards;
}  

  @keyframes cpp {
    0% { width: 0; }
    100% { width: 60%; }
  }
.JS{
    animation: JS 3s normal forwards;
}  

  @keyframes JS {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .html{
    animation: html 3s normal forwards;
}  

  @keyframes html {
    0% { width: 0; }
    100% { width: 80%; }
  }

  .css{
    animation: css 3s normal forwards;
}  

  @keyframes css {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .git{
    animation: git 3s normal forwards;
}  

  @keyframes git {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .matplotlib{
    animation: matplotlib 3s normal forwards;
}  

  @keyframes matplotlib {
    0% { width: 0; }
    100% { width: 60%; }
  }

  .bootstrap{
    animation: bootstrap 3s normal forwards;
}  

  @keyframes bootstrap {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .numpy{
    animation: numpy 3s normal forwards;
}  

  @keyframes numpy {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .pandas{
    animation: pandas 3s normal forwards;
}  

  @keyframes pandas {
    0% { width: 0; }
    100% { width: 60%; }
  }

  .sql{
    animation: eng 3s normal forwards;
}  

  @keyframes eng {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .mongo{
    animation: tel 3s normal forwards;
}  

  @keyframes tel {
    0% { width: 0; }
    100% { width: 65%; }
  }

 

.contactme{
    margin-top: 1.1764705882352942rem;
    transition: all .5s ease;
    color: rgb(32, 32, 32);
    border: 0.058823529411764705rem solid rgb(32, 32, 32);
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    background-color : transparent;
    padding: 0.4117647058823529rem 2.6470588235294117rem;
    outline: none;
    border-radius: 1.625rem;
    /* transform: translateZ(-10); */
}
  
.contactme:hover {
    color: #ffffff;
    background-color: rgb(0, 70, 100);
}



/* .navflex{ */
    /* margin-top: 3.7294117647058822rem; */
    /* margin-left: 4.117647058823529rem; */
    /* margin-right: 5.882352941176471rem; */
    /* margin-bottom: 2.505882352941177rem; */
    /* width: 87%; */
    /* height: 10%; */
    /* top: 8%;
    margin: auto;
    display: block; */
    /* transform: translateZ(-10); */
/* } */

.maintxt{
  margin-top: 0.5882352941176471rem;
  margin-bottom: 1.7647058823529411rem;
}

.navtxt{
    text-decoration: none;
    color: #0e1316;
    /* font-size: 20px; */
    position: relative;
    /* padding-bottom: 0.8823529411764706rem; */
    padding-left: 2.529411764705883rem;
    padding-right: 2.5529411764705883rem;
    /* transform: translateZ(-10); */
}

.navtxt::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.08823529411764706rem;
    border-radius: 1.625rem;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.navtxt:hover::before {
  transform-origin: center;
  transform: scaleX(0.8);
  color: #1c1c22;
  text-decoration: none;
}

.navtxt:hover{
    color: #18272F;
    text-decoration: none;
    cursor: pointer;
    
}

/* .bt{
    transition: all .5s ease;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    background-color:rgb(26, 26, 26);
    /* transform: translateZ(-10); 
}
.bt:hover {
    fill: black;
    background-color: #fff;
} */

.download-cv {
    width: 12rem;
    /* height: auto; */
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    /* font-size: inherit;
    font-family: inherit; */
}
.download-cv .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    /* vertical-align: middle; */
    /* padding-top: 10px; */
    /* text-align: left; */
    /* padding-left: 12px; */
    color: white;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

.circle{
  vertical-align: middle;
  text-align: start;
  padding: 0.6764705882352942rem 0.7941176470588235rem;
}

.download-cv .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 2.2rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
}
.download-cv:hover .circle {
    width: 100%;
}
.download-cv:hover .button-text {
    color: #fff;
}

.download-cv:active::after{
    color: #18272F;
    background-color: #fff;
    border: 0.11764705882352941rem #18272F;
    /* text-align: center; */
}









